
body {
	font-family: 'Work Sans', sans-serif;
	color: #747704;
}

.udacity-logo {
	width: 130px;
	height: 130px;
}

.extra-light {
	font-weight: 200;
}
.name-font {
	font-size: 64px;
}
.text-muted {
	color: #BCBBBB;
}
.text-light {
	font-weight: 300;
}
.text-thin {
	font-weight: 100
}

.titile-super {
	font-size: 60px;
}